In [1]:
import os
import sys
import boto3
import pandas as pd

In [2]:
secret='exom3r6Zi/1YteArBX+xPuUhjIH2M76j7TADmcfi'
access='AKIAUKVKF7WV37EJH4EW'

In [3]:
s3=boto3.resource(
    service_name='s3',
    region_name='us-west-2',
    aws_access_key_id=access,
    aws_secret_access_key=secret
)

In [4]:
for bucket in s3.buckets.all():
    print(bucket.name)

pokeapifiles

In [5]:
S3_BUCKET_NAME='pokeapifiles'

In [10]:
remoteFileList=[]
for obj in s3.Bucket(S3_BUCKET_NAME).objects.all():
    remoteFileList.append(obj.key)
remoteFileList

['log-data/', 'log-data/movimienots.csv', 'log-data/pokemon_moves.csv']

In [11]:
dfMovimiento=pd.DataFrame()
dfPokemonMovimiento=pd.DataFrame()

In [13]:
for remoteFile in remoteFileList:
    print(remoteFile)

log-data/
log-data/movimienots.csv
log-data/pokemon_moves.csv

In [15]:
file=s3.Bucket(S3_BUCKET_NAME).Object('log-data/movimienots.csv').get()
data=pd.read_csv(file['Body'])
dfMovimiento=dfMovimiento.append(data)

In [17]:
file=s3.Bucket(S3_BUCKET_NAME).Object('log-data/pokemon_moves.csv').get()
data=pd.read_csv(file['Body'])
dfPokemonMovimiento=dfPokemonMovimiento.append(data)

In [18]:
dfMovimiento.head()

,id,identifier,generation_id,type_id,power,pp,accuracy,priority,target_id,damage_class_id,effect_id,effect_chance,contest_type_id,contest_effect_id,super_contest_effect_id
0,1,pound,1,1,40.0,35.0,100.0,0,10,2,1,NaN,5.0,1.0,5.0
1,2,karate-chop,1,2,50.0,25.0,100.0,0,10,2,44,NaN,5.0,2.0,5.0
2,3,double-slap,1,1,15.0,10.0,85.0,0,10,2,30,NaN,5.0,10.0,7.0
3,4,comet-punch,1,1,18.0,15.0,85.0,0,10,2,30,NaN,5.0,12.0,7.0
4,5,mega-punch,1,1,80.0,20.0,85.0,0,10,2,1,NaN,5.0,1.0,18.0

In [21]:
dfPokemonMovimiento.head()

   pokemon_id  version_group_id  move_id  pokemon_move_method_id  level  order
0           1                 1       14                       4      0    NaN
1           1                 1       15                       4      0    NaN
2           1                 1       22                       1     13    NaN
3           1                 1       33                       1      1    1.0
4           1                 1       34                       4      0    NaN